.header {
  padding-top: 20px;
  padding-bottom: 80px;
}

.nav .logo {
  height: 24px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .menu-items {
  display: none;
}

.nav .socials {
  display: none;
}

.nav .menu-btn {
  height: 32px;
}

@media screen and (min-width: 768px) {
  header .header {
    padding-top: 24px;
  }

  .nav .menu-btn {
    display: none;
  }

  .nav .menu-item:hover,
  .nav .menu-item:focus {
    background-color: color-mix(in srgb, var(--primary-light) 20%, transparent);
  }

  .nav .menu-item.active {
    background: var(--white);
    color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  .nav .menu-item-link {
    width: auto;
    height: 100%;
    padding: 6px 12px;
  }

  .nav .socials {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
  }

  .nav .social-item {
    padding: 0;
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--primary-disabled);
    transition: var(--transition-fast);
    transition-property: background-color;
  }

  .nav .social-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav .social-item svg {
    fill: var(--primary);
    transition: var(--transition-fast);
    transition-property: fill;
  }

  .nav .social-item:hover {
    background-color: var(--primary);
  }

  .nav .social-item:hover svg {
    fill: var(--white);
  }

  .nav .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: 8px 34px;
    border-radius: 60px;
    background-color: var(--primary);
    box-shadow: var(--shadow);
  }

  .nav .menu-item {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    border-radius: 30px;
    color: var(--white);
    background: var(--primary);
    transition: var(--transition-fast);
    transition-property: background-color;
  }

  main .nav .social-item {
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid var(--primary-disabled);
    transition: var(--transition-fast);
    transition-property: background-color;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 28px;
  }

  .nav .menu-items {
    padding: 8px 50px;
  }
}

button {
  cursor: pointer;
  border: none;
  display: block;
  padding: 0;
  background-color: transparent;
}