<section class="burger-menu">
  <div class="sidebar">
    <button class="close-btn">
      <svg class="close-btn" width="32" height="32">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu">
      <a href="./index.html">Home</a>
      <a href="./favorites.html">Favorites</a>
    </nav>
    <ul class="soc-items white">
      <li class="soc-item white">
        <a
          href="https://www.facebook.com/goITclub/"
          class="soc-link white"
          aria-label="Facebook"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="soc-icon white" width="44" height="44">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item white">
        <a
          href="https://www.instagram.com/goitclub/ "
          class="soc-link white"
          aria-label="Instagram"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="soc-icon white" width="44" height="44">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item white">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="soc-link white"
          aria-label="Youtube"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="soc-icon white" width="44" height="44">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-overlay-brg"></div>
</section>
