.exercises-breadcrumbs {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 40px;
}

.breadcrumb-home {
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
}

.breadcrumb-divider {
  font-size: 28px;
  margin: 0 16px;
  color: var(--primary);
}

.breadcrumb-current {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-secondary);
}
